@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.page-1 {
  padding: 162px 344px 188px 122px;
}
.page-1 h1 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
}
.page-1 ul {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.page-1 li {
  list-style-type: none;
}
.page-1 li:nth-child(1) {
  width: 223px;
}
.page-1 li:nth-child(2) {
  width: 260px;
}
.page-1 li:nth-child(3) {
  width: 232px;
}
.page-1 ul li h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #1e4681;
}
.page-1 ul li span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}

.page-2{
padding-left: 138px;
padding-bottom: 168px;
}
.page-2 h1{
  font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
color: #000000;
}
.page-2 ul {
  margin-top: 30px;
  width: 662px;

}

.page-2 ul li {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
}